@import 'search.print';
.search {
  .content-title {
    border-bottom: 1px solid rgba(31, 35, 39, 0.08);
    h1 {
      font-size: 24px;
      line-height: 29px;
      padding-bottom: 10px;
      span {
        font-size: 16px;
        line-height: 20px;
        color: '#707071';
      }
    }
  }
  .content {
    padding: 2rem 2rem 0;
    min-height: calc(100vh - 74px);
    .actions {
      div a {
        border-right: 2px solid rgba(31, 35, 39, 0.08);
        padding-right: 10px;
        margin-left: 12px;
        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }
      }
    }
  }
}
