@media print {
  @page {
    size: A4;
    margin: 5mm 10mm;
  }
  .se-table {
    tr {
      &:nth-child(15n) {
        page-break-before: always;
      }
    }
    td {
      &:nth-child(5),
      &:last-child {
        width: 145px;
      }

      a {
        text-decoration: none;
      }
    }

    .sort {
      display: none;
    }
  }
}
