@import 'search.print';
.search {
  .content-title {
    position: relative;
    border-bottom: 1px solid rgba(31, 35, 39, 0.08);
    h1 {
      font-size: 24px;
      line-height: 29px;
      padding-bottom: 10px;
      span {
        font-size: 16px;
        line-height: 20px;
        color: '#707071';
      }
    }
  }
  .content {
    padding: 2rem 2rem 0;
    margin-top: 90px;
    min-height: calc(100vh - 74px);
    @media all and (max-width: 991px) {
      margin-top: 0vh;
    }
    .actions {
      div a {
        border-right: 2px solid rgba(31, 35, 39, 0.08);
        padding-right: 10px;
        margin-left: 12px;
        color: #043d5d;
        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }
      }
    }
  }
}

.search-links {
  color: #043d5d;
}

//Sidebar

.sidebar-container {
  position: fixed !important;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  @media all and (max-width: 991px) {
    position: relative !important;
    z-index: 1;
  }
}

.sidebar {
  margin-top: 90px;
  padding: 2rem;
  background-color: #f6f8fa;
  height: calc(100vh - 76px);
  overflow-y: auto;
  @media screen and (max-width: 1280px) {
    padding: 1rem 1.5rem;
  }
  @media screen and (max-width: 768px) {
    height: auto;
  }
  .title {
    font-size: 24px;
    color: #707071;
  }

  .search-box {
    margin-bottom: 3rem;
    margin-top: 1rem;
    @media screen and (max-width: 1280px) {
      margin-bottom: 1rem;
    }
  }

  .filter-group {
    margin-bottom: 1.5rem;
    @media screen and (max-width: 1280px) {
      margin-bottom: 0.8rem;
    }
    .filter-group-title {
      font-size: 18px;
      color: '#707071';
      margin-bottom: 24px;
      @media screen and (max-width: 1280px) {
        margin-bottom: 0.6em;
      }
    }
    .halfs {
      display: flex;
      flex-flow: row wrap;
      @media (min-width: 769px) and (max-width: 1123px) {
        display: block;
      }
      .half {
        width: 50%;
        @media (min-width: 769px) and (max-width: 1123px) {
          width: 100%;
        }
        margin-bottom: 24px;
        &:nth-child(3),
        &:nth-child(4) {
          margin-bottom: 0;
        }
      }
    }
  }

  .sidebar-links {
    color: #043d5d;
    font-size: 14px;
  }

  .filter-actions {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    margin-top: 1.5rem;
    @media screen and (max-width: 1280px) {
      margin-bottom: 0.8rem;
    }
  }
}

.button-group-sidebar {
  margin-bottom: 1.5rem;
  @media screen and (max-width: 1280px) {
    margin-bottom: 15px;
  }
  .button-group-sidebar-title {
    font-size: 18px;
    color: #707071;
    margin-bottom: 24px;
    @media screen and (max-width: 1280px) {
      margin-bottom: 0.6em;
    }
  }
  .halfs {
    display: flex;
    flex-flow: row wrap;
    @media (min-width: 769px) and (max-width: 1123px) {
      display: block;
    }
    .half {
      width: 50%;
      @media (min-width: 769px) and (max-width: 1123px) {
        width: 100%;
      }
      margin-bottom: 24px;
      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 0;
      }
      @media screen and (max-width: 1280px) {
        margin-bottom: 0.6em;
      }

      &:nth-child(odd) {
        .button {
          padding-right: 5px;
          @media (max-width: 1123px) {
            padding-right: 0;
          }
        }
      }

      .button {
        padding-left: 0;
        input:checked + label {
          background: #043d5d;
          color: white;
        }
        label {
          padding: 6px 10px;
          border-radius: 1rem;
          background-color: #ededee;
          &::before,
          &::after {
            width: 0;
            height: 0;
            position: relative;
            border: none;
            background: transparent;
            margin: 0;
          }
        }
      }
    }
  }
}
